<!--The content below is only a placeholder and can be replaced.-->
<head>
    <meta name="theme-color" content="#8531ca"/>
    <title>Contact List</title>
    </head>
<div style="text-align:center">
  <mat-toolbar color = "primary"> 
  <span class="example-fill-remaining-space">   Welcome to {{ title }}! </span>
   </mat-toolbar>
</div>
<p></p>
<button mat-raised-button (click)="clicked()">Click to filter</button>
  <h2>Here are all the contacts of your Salesforce: </h2>
    <mat-card *ngFor="let item of contactList">
    <mat-card-title >
      {{item.Name}}
    </mat-card-title>
  </mat-card>
<router-outlet></router-outlet>
