<div style="text-align:center">
  <mat-toolbar color = "primary"> 
      <meta name="viewport" content="width=device-width, initial-scale=1">

  <span class="example-fill-remaining-space">   Welcome to Contact Web-App! </span>
   </mat-toolbar>
</div>
<p></p>

<button mat-raised-button (click)="clicked()">Click to filter</button>
  <h2>Here are all the contacts of your Salesforce: </h2>
  
    <mat-card *ngFor="let item of contactList | paginate: { itemsPerPage: 10, currentPage: p } ">
    <mat-card-title >
      {{item.Name}}
    </mat-card-title>
  </mat-card>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  